.event-marker {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(252, 124, 73);
    text-align: center;
    border-radius: 25%;
}

.dateBox:hover{
    background-color: $primary !important;
    transition: border-radius, background-color 0.2s;
    border-radius: 5%;
}

@media (min-width: 768px) {
    .w-md-50 {
        width:50% !important;
    }
    .w-md-45 {
        width:45% !important;
    }
  }

  @media (min-width: 992px) {
    .w-lg-40 {
        width:40% !important;
    }
    .w-lg-35 {
        width:35% !important;
    }
  }
