.event-marker {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(252, 124, 73);
    text-align: center;
    border-radius: 25%;
}

.dateBox:hover{
    background-color: $primary !important;
    transition: border-radius, background-color 0.2s;
    border-radius: 5%;
}