textarea {
    resize: none;
}

.mod-date {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.4);
  animation: animateopacity;
  animation-duration: 400ms;
}

.mod-date-content {
  height: 10%;
  top:-10%;
}

@keyframes animateopacity {
  from {opacity: 0}
  to {opacity: 1}
}
