.header-of-page{
    display: flex;
    justify-content: space-between;
    background: $primary;
    color: #ffffff;
    height: 10vh;
  }

  .link{
    color: #25252585;
  }

  .nav-menu{
    padding-left: 40px;
  }
  .header-user, .nav-menu{
    display:flex;
    align-items: center;
    justify-content: space-around;
  }
  .user-btn{
    //background-color: #b97763;
    border: none;
    color: #25252585;
    transition: 0.3s;
    border-radius: 20px;
    width: 120px;
    line-height: 34px;
    text-decoration: none;
  }
  
  .drop{
    left: -40px!important;
    width: 20px!important;
  }
  .userName{
    color: white;
  }

  .logo {
    color:$fourth;
  }

  @media only screen and (max-width: 600px) {
    .logo {
      font-size: xx-large;
    }
  }
